img{
    width: 100%;
    height: auto;
}
#innehåll a:hover{
    font-weight: bold;
}

#innehåll li{
    padding: 0.5rem 0.5rem;
    font-weight: normal;
    /* Gör ul ol */
    list-style: white;
}
#bg-image{
    background-image: url("https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    height: 38vw;
}